!!!
%html{"ng-app" => "blogers"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Blogers
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{"ng-controller" => "MainCtrl as Main"}
    .wrapper
      .header
      .site_title
      %nav.navbar.navbar-inverse.bg-light
        .container
          %a.nav-item.nav-link{class: 'btn btn-info', href: new_user_registration_path} Sign up
          %a.nav-item.nav-link{class: 'btn btn-info', href: user_session_path} Login
      = yield
      .footer
